.navbar{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 30px;
    background-blend-mode:color-dodge;
    background-image: url(./CartWidget/assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position-y:center;
  }
  
  .navbar h3 {
    font-size: 80px;
    word-spacing: -40px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.63);
  }
  
  .otroColor1 {color: rgb(175, 118, 11);}
  .otroColor2 {color: rgb(62, 151, 62);}
  .otroColor3 {color: rgb(131, 39, 39);}
  
  .divCartwidget{
    border: 3px solid green ;
    border-radius: 60px;
    padding: 15px;
    background-color: black;
  }
  
  .cartwidget {
    margin: 5px;
    width: 32px;
    height: auto;
    color: aliceblue;
   
   }
  
   .contador{
    color: white;
    font-size: 30px;
   }
  
   .botones {
    height: 90%;
    display: flex;
   }
  
   .botones a{
    text-decoration: none;
    border: none;
    text-align: center;
    font-size: 25px;
    margin: 4px 20px;
    cursor: pointer;
    height: 100%;
    max-width: 200px;
    transition: all 0.5s ease-out;
    color: rgba(0, 0, 0, 0.63);
    }
  
  .Productos {
    background: none;
  }
  
  .Productos:hover {
    background-image: url(./CartWidget/assets/polelogo1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: color-burn;
    color: white; 
    scale: 1.1;
  }
  
  .quienesSomos {
    background: none;
  }
  
  .quienesSomos:hover {
    background-image: url(./CartWidget/assets/polelogo2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    background-position: center;
    color: white;
    scale: 1.1;
  }
  
  .contactanos {
    background: none;
  }
  
  .contactanos:hover {
    background-image: url(./CartWidget/assets/polelogo3.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    background-position: center;
    color: white;
    scale: 1.1;
  }
  
  